<meta charset="utf-8">


<div class="container" data-ng-controller="tableCtrl as tctrl">

<div class="col-md-9">
    <div class="card">
        <div class="card-header">
            <h3 class="modal-title text-center">Tabela de Jogo</h3>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableFilter" class="table table-striped table-vmiddle" style="text-align: center;" show-filter="true">
                    <thead>
                    <tr>
                        <th class="label-th" style="width: 20%; text-align: center;">JOGO</th>
                        <th class="label-th" style="width: 12%; text-align: center;">CAMPEONATO</th>
                        <th class="label-th" style="width: 10%; text-align: center;">CASA</th>
                        <th class="label-th" style="width: 10%; text-align: center;">EMPATE</th>
                        <th class="label-th" style="width: 10%; text-align: center;">FORA</th>
                        <th class="label-th" style="width: 10%; text-align: center;">GOL E MEIO</th>
                        <th class="label-th" style="width: 10%; text-align: center;">DUPLA CHANCE</th>
                        <th class="label-th" style="width: 10%; text-align: center;">AMBOS</th>
                    </tr>
                    </thead>
                   <tbody>
                    <tr ng-repeat="jogo in jogos">
                        <td data-title="'CD_CODIGO'" filter="{ 'id': 'text' }">
                           {{jogo.jogo}}
                        </td>
                        <td data-title="'DATA_JOGO'" filter="{ 'name': 'text' }">
                            {{jogo.campeonatoVO.nome}}
                        </td>
                        <td data-title="'HORA'" filter="{ 'email': 'text' }">
                            <button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.casa, 'Casa: ')">{{jogo.limiteApostaVO.casa}}</button>
                        </td>
                        <td data-title="'DS_JOGO'" filter="{ 'username': 'text' }">
                            <button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.empate,'Empate: ')">{{jogo.limiteApostaVO.empate}}</button>
                        </td>
                        <td data-title="'DS_JOGO'" filter="{ 'username': 'text' }">
                            <button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.fora,'Fora: ')">{{jogo.limiteApostaVO.fora}}</button>
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            <button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.golEMeio,'Gol e Meio: ')">{{jogo.limiteApostaVO.golEMeio}}</button>
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            <button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.duplaChance,'Dupla Chance: ')">{{jogo.limiteApostaVO.duplaChance}}</button>
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                          	<button class="btn btn-primary btn-icon waves-effect waves-circle" ng-click="addItem(jogo,jogo.limiteApostaVO.ambos,'Ambos: ')">{{jogo.limiteApostaVO.ambos}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
            <div class="col-md-3">

                <div class="card">
                    <div class="lv-item">
                        <div class="lv-title m-b-0">&nbsp;&nbsp;CUPOM DE APOSTA</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-padding p-15" data-ng-controller="DatepickerDemoCtrl">
                        <br/>

                        <!--<div>
                            <ul class="nav">
                                &lt;!&ndash;<input type="text" value="ItemName"
                                       placeholder="name of new item...">&ndash;&gt;
                                &lt;!&ndash;<button ng-click="addItem(newItemName)">Add Me</button> &ndash;&gt;
                                <li ng-repeat="item in items.jogos" id="">
                                    <a href="#">{{item.jogo}}</a> <a href="#">{{item.dataJogo}}</a> <a href="#">{{item.aposta}}</a>  <a ng-click="deleteItem($index)" class="delete-item">x</a>
                                </li>
                            </ul>
                        </div>-->


                        <div class="row" ng-repeat="item in items.jogos" id="item{{item.id}}">
                            <div class="col-sm-12 m-b-5">
                                <p class="f-12 c-black m-b-5">{{item.jogo}} </p>
                                <p class="f-14 c-black m-b-5">{{item.dataJogo}}</p>
                                <p class="f-14 c-black m-b-5" data-ng-model="item.apostaC">{{item.tipo}}{{item.aposta}}</p>
                                <a ng-click="deleteItem($index)" class="delete-item">x</a>
                            </div>

                        </div>

                            <div class="input-group m-b-20">
                                <div class="fg-line">
                                    <input type="text" class="form-control c-red bgm-red-limite text-center" ng-model="valorAposta" placeholder="Valor Apostado">
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="fg-line">
                                    <p>{{valorTtotal * valorAposta}}</p>
                                </div>
                            </div>

                        <div class="input-group m-b-20">
                            <div class="fg-line">
                                <input type="text" class="form-control c-red bgm-red-limite text-center" placeholder="Apostador">
                            </div>
                        </div>

                        <button type="button" ng-click="apostar(valorTtotal,valorAposta)">CONFIRMAR</button>

                            <!--<div class="col-sm-12 m-b-5">
                            <p class="f-14 c-black m-b-5">Voce escolher <strong>"Empate"</strong></p>
                                <p class="f-12 c-black m-b-5">Hull x Arsenal </p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 m-b-5">
                            <p class="f-14 c-black m-b-5">Voce escolher <strong>"Fora"</strong></p>
                                <p class="f-12 c-black m-b-5">Wolfsburg x Gent </p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 m-b-5">
                                <p class="f-12 c-black m-b-5">Total de cotas</p>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i></span>
                                    <div class="fg-line">
                                        <input type="text" class="form-control c-blue bgm-blue-realizado text-center" placeholder="0">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 m-b-5">
                                <div class="input-group">
                                    <div class="fg-line">
                                        <button class="btn bgm-lightgreen waves-effect">Apostar</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                </div>
            </div>
</div>







