
<div class="background-fundo">
    <meta charset="utf-8" />
    <form ng-submit="alterarr()" name="myForm">
        <div class="modal-header">
            <div class="text-right"><i class="fa fa-times fa-2x" ng-click="cancel()"></i></div>
            <h3 class="modal-title text-center titulo-modal">Inserir Novo Cambista</h3>
        </div>
        <meta charset="utf-8">
        <div class="container">

            <div class="container c-alt">

                <div class="row">
                    <div class="col-md-9">

                        <div class="card">
                            <div class="lv-item">
                                <div class="lv-title m-b-5">&nbsp;&nbsp;GERENCIAR CAMBISTAS</div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-10">
                                <div class="row">
                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Cambista</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.nomeUsuario" class="form-control bgm-blue-realizado" placeholder="Digite o nome do Cambista">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Limite Diario</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.limiteMaximoVendaDiario" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Limite Indivudual</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.limiteMaximoVendaIndividual" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox m-b-4">
                                        <p class="f-12 c-black m-b-5">Descartar Limite</p>
                                        <label class="f-11">
                                            <input type="checkbox" value="">
                                            <i class="input-helper"></i>
                                            Descartar limite de joogo na aposta indivudual
                                        </label>
                                    </div>

                                    <div class="col-sm-6 m-b-5">
                                        <p class="f-12 c-black m-b-5">CPF</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.cpf" class="form-control c-blue bgm-blue-realizado" placeholder="000.000.000-00">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 m-b-5">
                                        <p class="f-12 c-black m-b-5">RG</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.numeroRg" class="form-control c-blue bgm-blue-realizado" placeholder="0000000">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5 m-b-5">
                                        <p class="f-12 c-black m-b-5">Endereço</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-home zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.endereco" class="form-control bgm-blue-realizado" placeholder="Digite o nome do Cambista">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-b-5">
                                        <p class="f-12 c-black m-b-5">Número</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-collection-item-9-plus zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.numeroEndereco" class="form-control c-blue bgm-blue-realizado" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5 m-b-5">
                                        <p class="f-12 c-black m-b-5">Complemento</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-map zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.complemento" class="form-control bgm-blue-realizado" placeholder="Digite o nome do Cambista">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Bairro</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-pin zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.bairro" class="form-control bgm-blue-realizado" placeholder="Digite o Bairro">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Cidade</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-pin zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.cidade" class="form-control bgm-blue-realizado" placeholder="Digite a Cidade">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-b-5">
                                        <p class="f-12 c-black m-b-5">CEP</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-label zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.cep" class="form-control c-blue bgm-blue-realizado" placeholder="00000-000">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-2 m-b-5">
                                        <p class="f-500 c-black m-b-15">UF</p>
                                        <select class="form-control" name="select" style="width: 80%"
                                                ng-model="usuario.uf" required>
                                            <option value="AL">AL</option>
                                            <option value="AM">AM</option>
                                            <option value="PE">PE</option>
                                        </select>

                                    </div>

                                   <!-- <div class="col-sm-2 m-b-5">
                                        <p class="f-12 c-black m-b-5">UF</p>
                                        <select ng-model="usuario.dscUf" chosen data-placeholder="Select a country..." class="w-100">
                                            <option value="United States">AL</option>
                                            <option value="United Kingdom">AM</option>
                                            <option value="Afghanistan">PE</option>
                                        </select>
                                    </div>-->

                                    <div class="col-sm-9 m-b-5">
                                        <p class="f-12 c-black m-b-5">Email</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-email zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.email" class="form-control bgm-blue-realizado" placeholder="Digite o nome do Cambista">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 m-b-5">
                                        <p class="f-12 c-black m-b-5">Contato</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-smartphone-android zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.contato" class="form-control c-blue bgm-blue-realizado" placeholder="00000-0000">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Observacao</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <textarea ng-model="usuario.observacao" class="form-control c-blue bgm-blue-realizado" rows="2" placeholder="Observacao...."></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Usuario</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.login" class="form-control bgm-blue-realizado" placeholder="Digite a Cidade">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 m-b-5">
                                        <p class="f-12 c-black m-b-5">Senha</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-lock-outline zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.senha" class="form-control bgm-blue-realizado" placeholder="Digite a Cidade">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 m-b-15 align-left">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="fg-line">
                                                <button
                                                        class="btn bgm-lightgreen btn-icon waves-effect waves-circle"
                                                        popover-placement="top" popover-trigger="mouseenter"
                                                        popover="Salva Novo Cambista" type="submit" >
                                                    <i class="zmdi zmdi-floppy zmdi-hc-fw"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">

                        <div class="card">
                            <div class="lv-item">
                                <div class="lv-title m-b-0">&nbsp;&nbsp;IMAGEM</div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-padding p-15" data-ng-controller="DatepickerDemoCtrl">
                                <br/>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="pmo-pic">
                                            <div class="p-relative" align="center">
                                                <a href="">
                                                    <img class="img-responsive" src="img/profile-pics/2.jpg" alt="" width="106" height="120">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="lv-item">
                                <div class="lv-title m-b-0">&nbsp;&nbsp;COMISSAO / CAMBISTA</div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-padding p-15" data-ng-controller="DatepickerDemoCtrl">
                                <br/>
                                <div class="row">
                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Comissao-1</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.comissao1" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Comissao-2</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.comissao2" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Comissao-3</p>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-money zmdi-hc-fw"></i></span>
                                            <div class="fg-line">
                                                <input type="text" ng-model="usuario.comissao3" class="form-control c-red bgm-red-limite text-center" placeholder="0">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 m-b-5">
                                        <p class="f-12 c-black m-b-5">Tablet Bloqueado</p>
                                        <select chosen data-placeholder="Select a country..." class="w-100">
                                            <option value="United States">SIM</option>
                                            <option value="United Kingdom">NÃO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-primary" ng-click="ok()">OK</button>
                <button type="submit" ng-if="!cenario.sequencial"
            ng-disabled="myForm.$invalid" class="btn btn-primary">Salvar
        </button>

        <button type="button" ng-if="cenario.sequencial"
            ng-disabled="myForm.$invalid" ng-click="update(cenario)"
            class="btn btn-primary">Atualizar</button>-->
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>