
<div class="background-fundo">
	<meta charset="utf-8" />
	
		<div class="modal-header">
			<div class="text-right">
				<i class="fa fa-times fa-2x botao-cancel" ng-click="cancel()"></i>
			</div>
			<h3 class="modal-title text-center titulo-modal">Taxas e Limites do " {{ jogo.jogo }} "</h3>
		</div>
		
		<div id="modal-padding" class="modal-body">

			<div class="modal-body">

				<meta charset="utf-8">
				<div>

					<div class="container c-alt">


						<div class="row">
							<div class="col-md-12">

								<div ng-repeat="limiteApostaVO in limitesApostasVO" class="card" >
									<div class="lv-item">

										<div class="progress">
											<div class="progress-bar progress-bar-info"
												role="progressbar" aria-valuenow="60" aria-valuemin="0"
												aria-valuemax="100" style="width: 100%">
												<span class="sr-only"></span>
											</div>
										</div>
									</div>

									<div class="card">

										<div class="table-responsive">
										
										   <h4>{{limiteApostaVO.usuarioVO.nome}}</h4>
										
											<table class="table table-striped text-center">
												<thead>
													<tr>
														<th class="text-center">#</th>
														<th class="text-center">Casa</th>
														<th class="text-center">Empate</th>
														<th class="text-center">Fora</th>
														<th class="text-center">Gol e Meio</th>
														<th class="text-center">Dupla Chance</th>
														<th class="text-center">Ambos</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Taxas</td>
														<td><input type="text" id="casa" name="casa"
															ng-required="true"
															class="form-control text-center bgm-red-taxa"
															placeholder="0" ng-model="limiteApostaVO.casa"
															 /></td>
														<td><input type="text" id="empate" name="empate"
															ng-required="true"
															class="form-control text-center bgm-red-taxa"
															placeholder="0" ng-model="limiteApostaVO.empate"
														></td>
														<td><input type="text" id="fora" name="fora"
															ng-required="true"
															class="form-control text-center bgm-red-taxa"
															placeholder="0" ng-model="limiteApostaVO.fora"
															 /></td>
														<td><input type="text" id="golEMeio" name="golEMeio"
															ng-required="true"
															class="form-control text-center bgm-red-taxa"
															placeholder="0" ng-model="limiteApostaVO.golEMeio"
															></td>
														<td><input type="text"
															class="form-control text-center bgm-red-taxa"
															id="duplaChance" name="duplaChance" ng-required="true"
															placeholder="0"
															ng-model="limiteApostaVO.duplaChance" >

														</td>
														<td><input type="text" id="ambos" name="ambos"
															ng-required="true"
															class="form-control text-center bgm-red-taxa"
															placeholder="0" ng-model="limiteApostaVO.ambos"
															></td>
													</tr>
													<tr>
														<td>Limites</td>
														<td><input type="text" id="limiteCasa"
															name="limiteCasa" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0" ng-model="limiteApostaVO.limiteCasa"
															></td>
														<td><input type="text" id="limiteEmpate"
															name="limiteEmpate" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0"
															ng-model="limiteApostaVO.limiteEmpate" >

														</td>

														<td><input type="text" id="limiteFora"
															name="limiteFora" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0" ng-model="limiteApostaVO.limiteFora"
															></td>
														<td><input type="text" id="limiteGolEMeio"
															name="limiteGolEMeio" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0"
															ng-model="limiteApostaVO.limiteGolEMeio" >

														</td>
														<td><input type="text" id="limiteDuplaChance"
															name="limiteDuplaChance" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0"
															ng-model="limiteApostaVO.limiteDuplaChance" >

														</td>
														<td><input type="text" id="limiteAmbos"
															name="limiteAmbos" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0"
															ng-model="limiteApostaVO.limiteAmbos" >

														</td>
													</tr>

													<tr>
														<td>Total</td>
														<td>Limite<input type="text" id="limiteIndividual"
															name="limiteIndividual" ng-required="true"
															class="form-control c-red bgm-red-limite text-center"
															placeholder="0"
															ng-model="limiteApostaVO.limiteIndividual" >

														</td>


													</tr>
												</tbody>
												<tfoot>
	<td><button ng-click="salvarLimiteUsuario(limiteApostaVO)" type="button">Salvar</button></td>
												</tfoot>
											</table>

											<div class="col-sm-12 m-b-15 align-left"></div>
											<br />
										</div>
									</div>
								</div>
							</div>
						</div>
						
					
	</form>


</div>






<div class="modal-footer">
	<!--<button class="btn btn-primary" ng-click="ok()">OK</button>
				<button type="submit" ng-if="!cenario.sequencial"
			ng-="myForm.$invalid" class="btn btn-primary">Salvar
		</button>

		<button type="button" ng-if="cenario.sequencial"
			ng-="myForm.$invalid" ng-click="update(cenario)"
			class="btn btn-primary">Atualizar</button>-->
	<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

