<meta charset="utf-8">


<div class="container" data-ng-controller="tableCtrl as tctrl">

    <div class="card">
        <div class="card-header">
            <div class="text-right"><button class="btn bgm-lightgreen btn-icon waves-effect waves-circle"  popover-placement="top" popover-trigger="mouseenter" popover="Inserir Novo Jogo" ng-click="openModalPossoAjudarPrincipal()"><i class="zmdi zmdi-plus"></i></button></div>
            <h4 class="modal-title text-center">TABELA DE JOGOS</h4>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableFilter" class="table table-striped table-vmiddle" style="text-align: center;" show-filter="true">
                    <thead>
                    <tr>
                        <th class="label-th" style="width: 4%; text-align: center;">#</th>
                        <th class="label-th" style="width: 20%; text-align: center;">JOGO</th>
                        <th class="label-th" style="width: 12%; text-align: center;">CAMPEONATO</th>
                        <th class="label-th" style="width: 8%; text-align: center;">DATA</th>
                        <th class="label-th" style="width: 10%; text-align: center;">RESULTADO CASA</th>
                        <th class="label-th" style="width: 10%; text-align: center;">RESULTADO FORA</th>
                        <th class="label-th" style="width: 5%; text-align: center;">DETALHES</th>
                        <th class="label-th" style="width: 5%; text-align: center;">Editar</th>
                        <th class="label-th" style="width: 5%; text-align: center;">Excluir</th>
                    </tr>
                    </thead>
                   <tbody>
                    <tr ng-repeat="w in jogos">
                        <td data-title="'CD_CODIGO'" filter="{ 'id': 'text' }">
                            {{ w.sequencial }}
                        </td>
                        <td data-title="'DATA_JOGO'" filter="{ 'name': 'text' }">
                            {{ w.jogo }}
                        </td>
                        <td data-title="'HORA'" filter="{ 'email': 'text' }">
                            {{ w.campeonatoVO.nome  }}
                        </td>
                        <td data-title="'DS_JOGO'" filter="{ 'username': 'text' }">
                            {{ w.dataJogoFormatadaBasica }}
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            1
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            4
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                           <button class="btn bgm-orange btn-icon waves-effect waves-circle" popover-placement="top" popover-trigger="mouseenter" popover="Mais dados sobre Jogo" ng-click="detalhes(w)">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            <button class="btn bgm-teal btn-icon waves-effect waves-circle" popover-placement="top" popover-trigger="mouseenter" popover="Editar">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        </td>
                        <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                            <button class="btn btn-danger btn-icon waves-effect waves-circle" popover-placement="top" popover-trigger="mouseenter" popover="Excluir">
                                <i class="zmdi zmdi-close"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







