
<div class="background-fundo">
    <meta charset="utf-8" />
    <form ng-submit="addCenario()" name="myForm">
        <div class="modal-header">
            <div class="text-right"><i class="fa fa-times fa-2x" ng-click="cancel()"></i></div>
            <h3 class="modal-title text-center titulo-modal">Inserir Novo Aposta</h3>
        </div>
        <div class="container" data-ng-controller="tableCtrl as tctrl">

            <div class="card-imput-esporte">
                <div class="card-header">

                    <div class="col-sm-11 m-b-5">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    Campeonato:</span>
                            <div class="fg-line">
                                <input type="text" class="form-control cor-imput-azul text-center"
                                       placeholder="Inserir Novo Campeonato..."
                                       ng-model="jogo.jogo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 m-b-5">
                        <button class="btn bgm-lightgreen waves-effect" ng-click="openModalGerenciarEsporte()" popover-placement="top" popover-trigger="mouseenter" popover="Salvar Novo Campeonato"><i class="zmdi zmdi-floppy zmdi-hc-fw"></i></button>
                    </div>
                    <br/>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="modal-title text-center">TABELA DE CAMPEONATOS</h4>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table ng-table="tctrl.tableFilter" class="table table-striped table-vmiddle" style="text-align: center;" show-filter="true">
                            <thead>
                            <tr>
                                <th class="label-th" style="width: 4%; text-align: center;">#</th>
                                <th class="label-th" style="width: 20%; text-align: center;">Campeonato</th>
                                <th class="label-th" style="width: 5%; text-align: center;">Editar</th>
                                <th class="label-th" style="width: 5%; text-align: center;">Excluir</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="w in jogos">
                                <td data-title="'CD_CODIGO'" filter="{ 'id': 'text' }">
                                    {{ w.sequencial }}
                                </td>
                                <td data-title="'DATA_JOGO'" filter="{ 'name': 'text' }">
                                    {{ w.jogo }}
                                </td>
                                <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                                    <button class="btn bgm-teal btn-icon waves-effect waves-circle" popover-placement="top" popover-trigger="mouseenter" popover="Editar">
                                        <i class="zmdi zmdi-edit"></i>
                                    </button>
                                </td>
                                <td data-title="'DS_CAMPEONATO'" filter="{ 'contact': 'text' }">
                                    <button class="btn btn-danger btn-icon waves-effect waves-circle" popover-placement="top" popover-trigger="mouseenter" popover="Excluir">
                                        <i class="zmdi zmdi-close"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <!--<button class="btn btn-primary" ng-click="ok()">OK</button>
                <button type="submit" ng-if="!cenario.sequencial"
            ng-disabled="myForm.$invalid" class="btn btn-primary">Salvar
        </button>

        <button type="button" ng-if="cenario.sequencial"
            ng-disabled="myForm.$invalid" ng-click="update(cenario)"
            class="btn btn-primary">Atualizar</button>-->
            <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>